@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

body {
    margin: 0;
    background: #000;
    font-family: 'Inter', sans-serif;
    color: white;
    /* La altura total define qué tanto hay que scrollear para terminar el video */
    height: 400vh; 
}

#video-canvas {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.scroll-content {
    position: relative;
    z-index: 10;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0 5px 15px rgba(0,0,0,0.8);
}

.title { font-size: 5vw; letter-spacing: 10px; }
.game-logo { font-size: 12vw; margin: 0; }
.game-logo span { color: #ff00ff; }

/* Estilo Rockstar */
.loader {
    position: fixed; inset: 0; background: #000;
    display: flex; justify-content: center; align-items: center;
    z-index: 1000; transition: opacity 1s;
}
.rstar-logo { font-size: 80px; }
.rstar-logo span { color: #f2a900; }